BOT_TOKEN=7123456789:AAHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MINI_APP_URL=https://world-dominion-xxx.web.app
ADMIN_CHAT_ID=YOUR_TELEGRAM_ID
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FIREBASE_PROJECT_ID=world-dominion-xxx
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@world-dominion-xxx.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
TON_CENTER_API_KEY=your_toncenter_key
TON_WALLET_ADDRESS=your_ton_wallet_address
USDT_WALLET_ADDRESS=your_tron_usdt_wallet_address
PORT=8080
NODE_ENV=production
BETA_MODE=true
MAX_PLAYERS_BETA=500
