# Convex deployment
CONVEX_DEPLOYMENT=

# Telegram bot credentials
BOT_TOKEN=
WEBHOOK_SECRET=

# App URLs
MINI_APP_URL=
NEXT_PUBLIC_CONVEX_URL=
CONVEX_SITE_URL=https://peaceful-scorpion-529.convex.site